@font-face {
  font-family: 'SeoulHangangM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  background: #1E1E1E;
  font-family: 'SeoulHangangM';
}
.bk{
  background: #333;
}
/* body::-webkit-scrollbar{
  width: 6px;
}
body::-webkit-scrollbar-thumb{
  height: 10%;
  background: #CCCCCC;
  border-radius: 10px;
}
body::-webkit-scrollbar-track{
  background: #888888;
} */